.display {
  width: 75%;
  height: 100vh;
  background-color: lightblue;
  position: fixed;
  left: 0;
  top: 0;
  color: lightblue;
}

.measure-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.measure-container {
  display: flex;
  position: relative;
  background-color: lightgreen;
  /* border-style: solid;
  border-color: red; */
}

.measure {
  padding: 0;
  padding-top: 30px;
  width: 200px;
  position: relative;
}

.note-container {
  padding: 0;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  /* border-style: solid;
  border-color: blue; */
  width: 95%;
}

.note {
  margin: 0;
  padding: 0;
  width: 26px;
  padding-left: 7px;
}

.bar {
  top: 30px;
  height: 58px;
  width: 1px;
  position: relative;
  background-color: black;
}
